// Import variables first
@import "_variables";

// Global styles
body {
  font-family: "Poppins", sans-serif;
  background: $light-bg;
  margin: 0;
  color: $dark-text;
}

// Import all other page styles (only existing files)
@import "AdminDashboard";
@import "Sidebar";
@import "Login";
@import "ModernForms";

// (add more as you create new .scss files)
